:root {
  --offwhite: rgb(255, 251, 251);
  --redcor: rgb(141, 35, 25);
  --charcoal: hsla(0, 0%, 0%, 0.945);
}

body {
  background-color: var(--redcor);
  font-family: Cambria;
  color: var(--charcoal)
}

header {
  text-align: center;
  padding: 10px;
  background-color: var(--offwhite);
  opacity: 0.9;
}

h1 {
  font-size: 40px;
  font-weight: 900;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: var(--charcoal);
  background-color: var(--offwhite);
  width: fit-content;
  border-radius: 5px;
  padding: 5px;
  margin-top: 25px;
}

form {
  padding: 20px;
  background-color: var(--offwhite);
  border-radius: 10px;
  max-width: 460px;
  margin-top: 20px;
}

section {
  margin-left: 25%;
  margin-right: 25%;
  background-color: var(--offwhite);
  border-radius: 10px;
  max-width: 800px;
  text-align: center;
}


main {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: var(--offwhite);
  border-radius: 10px;
  margin-top: 20px;
  max-width: 800px;
  margin-left: 25%;
  margin-right: 25%;
  
}

#title {
  font-size: 19px;
  padding: 20px;
  margin-top: 20px;
}
#descr {
  padding: 20px;
  margin-top: 20px;
}

.rendered-h2 {
  background-color: var(--offwhite);
  width: fit-content;
  border-radius: 5px;
  padding: 5px;

}

.rendered-img {
  max-width: 300px;
  border-radius: 10px;
  margin-top: 5px;
}

.rendered-links {
  display: block;
  margin-top: 5px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: var(--offwhite);
  margin-top: 500px;
  
}


a:hover {
  opacity: .5;
}