:root {
  --offwhite: rgb(42, 42, 42);
  --redcor: rgb(119, 17, 38);
  --charcoal: hsla(0, 0%, 96%, 0.945);
  --links: rgb(230, 230, 230);
}

body {
  background-color: var(--redcor);
  font-family: "Roboto Flex", sans-serif;
  color: var(--charcoal);
  min-height: 2000px;
}

header {
  text-align: center;
  padding: 10px;
  background-color: var(--offwhite);
}

h1 {
  font-size: 40px;
  font-weight: 900;
  font-family: "Dancing Script", cursive;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: var(--charcoal);
  background-color: var(--offwhite);
  width: fit-content;
  border-radius: 5px;
  padding: 5px;
  margin-top: 25px;
}

#searchHistory {
  background-color: var(--offwhite);
  border-radius: 10px;
  width: 200px;
  height: 400px;
  float:left;
  margin-top: 10px;
  margin-left: 5%;


}

#searchHistory button {
  display: block;
  margin-left: 22%;
  margin-right: 70%;
  margin-top: 10px;
  
}


section {
  margin-left: 25%;
  margin-right: 25%;
  background-color: var(--offwhite);
  border-radius: 10px;
  max-width: 800px;
  text-align: center;
}

section h2 {
  margin-top: 10px;
  margin-left: 40%;
  margin-right: 40%;
}

form {
  margin-left: 18%;
  margin-right: 18%;
  padding: 20px;
  background-color: var(--offwhite);
  border-radius: 10px;
  max-width: 460px;
  margin-top: 20px;
}

.btn {
  margin-top: 15px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: var(--offwhite);
  border-radius: 10px;
  margin-top: 20px;
  max-width: 800px;
  margin-left: 25%;
  margin-right: 25%;
}

#title {
  font-size: 20px;
  padding: 20px;
  margin-top: 20px;
}
#descr {
  padding: 20px;
  margin-top: 5px;
}

.rendered-h2 {
  background-color: var(--offwhite);
  width: fit-content;
  border-radius: 5px;
  padding: 5px;
}

.rendered-img {
  max-width: 400px;
  border-radius: 10px;
  margin-top: 5px;
}

.rendered-link-parent {
  background-color: var(--links);
  border-radius: 5px;
  margin-top: 7px;
  margin-bottom: 10px;
}

.rendered-links {
  margin-top: 5px;
  padding: 1px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 20px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: var(--offwhite);
  position: fixed;
  bottom: -1px;
  width: 100%;
}

a:hover {
  opacity: 0.5;
}

/* gapi declarations */
/* 
font-family: 'Dancing Script', cursive;
font-family: 'Roboto Flex', sans-serif; */
